<div class="home-container">
    <span>家事一覧</span>
    <div class="underline"></div>
    <div class="housework">
        家事サンプル
    </div>
    <div class="housework">
        家事サンプル
    </div>
    <div class="housework">
        家事サンプル
    </div>
    <div class="input">
        家事を入力
    </div>
    <div class="page">
      <img
        src="assets/images/button.svg" 
        alt="menu" 
        class="back">
      <img
        src="assets/images/button.svg" 
        alt="menu" 
        class="forward">
    </div>
</div>