<div class="home-container">
  <div class="container">
    <span>家事を入力してね</span>
    <div class="underline"></div>
    <div class="input-forms">
      <div class="input-name"></div>
      <div class="input-frequency"></div>
    </div>
    <div class="circles">
      <div class="circle 1"></div>
      <div class="circle 25"></div>
      <div class="circle 50"></div>
      <div class="circle 75"></div>
      <div class="circle 100"></div>
    </div>
    <div class="page">
      <img
        src="assets/images/button.svg"
        alt="prev button"
        class="back">
      <img
        src="assets/images/button.svg"
        alt="next button"
        class="forward">
    </div>
  </div>
</div>