<div class="home-container">
  <div class="container">
    <span>家事を入力してね</span>
    <div class="underline"></div>
    <div class="input-name"></div>
    <div class="input-frequency"></div>
    <div class="circles">
      <div><img src="assets/images/circle.svg" alt="menu" class="button button-1"></div>
      <div><img src="assets/images/circle.svg" alt="menu" class="button button-25"></div>
      <div><img src="assets/images/circle.svg" alt="menu" class="button button-50"></div>
      <div><img src="assets/images/circle.svg" alt="menu" class="button button-75"></div>
      <div><img src="assets/images/circle.svg" alt="menu" class="button button-100"></div>
    </div>
    <div class="page">
      <img src="assets/images/button.svg" alt="menu" class="back">
      <img src="assets/images/button.svg" alt="menu" class="forward">
    </div>
  </div>
</div>